*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.intro_bg {
    background-image: url("image/intro.png");
    width: 100%;
    height: 718px;
}

.header {
    display: flex;
    width: 1280px;
    height: 86px;
    margin: auto;
}

.searchArea {
   width: 300px;
   height: 40px;
   background: rgb(0, 0, 0, 0.5);
   border-radius: 5px;
   margin-top: 24px;
}

.searchArea > form > input {
    border: none;
    width: 230px;
    height: 40px;
    background: rgb(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}
.searchArea > form > span {
    width: 70px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.nav {
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 300px);
    line-height: 86px;
}

.nav > li {
    margin-left: 84px;   
}

.nav > li > a {
    color: #fff;
}