*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
h1 {
    font-size: 48px;
    font-weight: 100;
}
.contents1 {
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
}

.result {
    font-size: 24px;
    
}

.intro_bg {
    background-image: url("image/intro.png");
    width: 100%;
    height: 718px;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}   
.searchArea {
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.searchArea > form > input {
    border: none;
    width: 250px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}
.searchArea > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.nav {
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 300px);
    line-height: 86px;

}
.nav > li {
    margin-left: 84px;
}
.nav > li > a {
    color: #fff;
}
.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff;
}

.amount {
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.amount > li {
    flex: 1;
    height: 132px;
}
.amount > li > div {
    height: 57px;
    margin-top: 37px;
    /* line-height: 57px; */
    text-align: center;
}
.amount > li:not(:last-child) > div {
    border-right: 1px solid #E1E1E1;
}

/* main_text0 */
.main_text0 {
    width: 100%;
    height: 601px;
    background-color: #f1f2f3;
    margin-top: -132px;
}
.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
}
.main_text0 > .contents1 {
    text-align: center;
}
.main_text0 > .icons {
    display: flex;
    width: 1280px;
    height: 302px;
    margin: 49px auto;
}
.icons > li {
    flex: 1;
    background-color: #fff;
    text-align: center;
}
.icons > li:not(:last-child) {
    margin-right: 20px;
}

.icons > li > .icon_img {
    margin-top: 18px;
}
.icons > li > .contents3 {
    width: 210px;
    margin: auto;
    letter-spacing: -1px;
}
.more {
    width: 100px;
    height: 30px;
    background-color: #2f7af4;
    color: white;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
}