*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: 100px;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}

.result {
    font-size: 24px;
    font-weight: medium;
}

.intro_bg {
    background-image: url("image/intro.png");
    width: 100%;
    height: 718px;
}

.header {
    display: flex;
    width: 1280px;
    height: 86px;
    margin: auto;
}

.searchArea {
   width: 300px;
   height: 40px;
   background: rgb(0, 0, 0, 0.5);
   border-radius: 5px;
   margin-top: 24px;
}

.searchArea > form > input {
    border: none;
    width: 230px;
    height: 40px;
    background: rgb(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}
.searchArea > form > span {
    width: 70px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.nav {
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 300px);
    line-height: 86px;
}

.nav > li {
    margin-left: 84px;   
}

.nav > li > a {
    color: #fff;
}

.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff;
}

.amount {
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.amount > li {
    flex: 1;
    height: 132px;
}

.amount > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div {
    border-right: 1px solid #E1E1E1;

}